:root {
  --primary-color: #68c3d4; /* sky blue */
  --secondary-color: #d9c877; /* citron */
  --accent1-color: #222222; /*dark gray */
  --accent2-color: #0b7c01; /* office green */
  --heading-font: "Roboto", sans-serif;
  --body-font: "Montserrat" sans-serif;
}

header {
  background-color:var(--primary-color);
  color: var(--accent2-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color:#222;
  background-color: #fff;
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent2-color);
  color: #ffffff; 
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #ffd4ff;
  padding: 12px;
  border-radius: 8px;
}

.hero article img {
  float: right;
  width: 125px;
}

.adventure-gallery {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:10px;
}

.adventure-gallery img {
  width:160px;
  height: auto;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 16px;
  background-color: var(--primary-color);
  color: var(--accent1-color);
}

.socialmedia {
  margin-top: 12px;
  display:flex;
  justify-content: center;
  gap:20px;
}

.socialmedia img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
}